<h1><%= @product.name %></h1>

<% if @product.reviews.any? %>
<h4>Here are the reviews for this product</h4>

<ul>
  <% @product.reviews.each do |review| %>
  <li class = "structure">
    <%= review.author %> |
    <%= review.content %> |
    <%= review.rating %> |

  </li>
  <% end %>
</ul>
<% else %>
<p>There are no reviews yet!</p>
<% end %>
<ul>
  <li><%= @product.cost %></li>
  <li><%= @product.origin %></li>
</ul>
<p><%= link_to "Add a review", new_product_review_path(@product) %></p>
<p><%= link_to "Delete Product", product_path(@product),
                         :data => {:confirm => "Are you sure that you want to delete this product?",
                                   :method => "delete"} %></p>
