<!DOCTYPE html>
<html>
  <head>
    <div class="container">
      <title>Marios Food</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </div>

  </head>

  <body>
    <div class="container">
      <%= flash[:alert] %>
      <%= flash[:notice] %>

      <p><%= link_to "Home", root_path %></p>
      <p><%= link_to "Add a product", new_product_path %></p>
      <p><%= link_to "All Products", products_path %></p>

      <%= yield %>
    </div>

  </body>
</html>
